/*div {
	border: 1px solid red;
}
*/

.link {
	background-color: LightGray !important;
	color: black !important;
	padding: 5px;
	border-radius: 2px;

}

.navbar {
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.welcome_note {
	padding-top: 10px;
	margin-bottom: 15px;
	padding-right: 5px;
	color: white;
	text-decoration: none;
}

.welcome_note a {
	text-decoration: none;
	color: white;
}

.welcome_note:hover {
	border: .5px solid white;
	border-radius: 5px;
	padding-right: 5px;
}

/* SEARCH BOX */

.search_box {
	position: relative;
	/*top: 50%;
	left: 50%; 
	transform: translate( -50%, -50% );*/
	background: LightGray;
	height: 35px;
	border-radius: 35px;
	margin: 10px;	
}


.search_box:hover > .search_txt {
	width: 240px;
	padding: 0px 6px;
}
/*

		
.search_box:hover > .search_btn {
	background-color: white;
} */

.search_btn {
	color: LightGray;
	float: right;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s
}

.search_txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #000000;
	font-size: 16px;
	transition: 0.4s;
	line-height: 35px;
	width: 0px;

} 

.logout_link {
	padding: 4px !important;
}
/****************************************/

/*PROFILE */

.profile_row_1 {
	margin-top: 40px;
	margin-bottom: 40px;
}


.edit_profile_btn {
	position: relative;
	left: 240px;
	width: 120px;
}



.bio_div {
	padding-left: 30px;
}


.profile_pic{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 1px solid ;
	background-color: LightGray;
	margin-right: 50px !important;

}


.profile_row_1 .col-xs-4 {
	-webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.profile_row_1 .col-xs-8 {
	-webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;

}

.profile_img {
	width: 200px;
	height: 200px;
	border-radius: 100px;	
}

.profile_img_users {
	width: 80px;
	height: 80px;
	border-radius: 40px;
}


.users_list ul li {
	padding: 15px;

}

.users_list {
	list-style-type: none;
}


/* NAV TABS IN PROFILE */

.row_nav_tabs {
	margin-top: 30px;
}

.nav-tabs li {
	padding-right: 20px;
}

.nav-tabs li a {
	text-decoration: none;
	color: #8c8c8c;
	transition-timing-function: ease-in-out;
	transition: left 4s;
}

.nav-tabs li a:hover {
	color: #000000;
	position: relative;
	left: 6px;
}

.tab-content {
	padding-top: 20px;
}



/*EDIT PROFILE */
.edit_profile_jumbo {
	padding: 40px;
}

.jumbotron-fluid {
	padding: 40px;
}

.profile_pic {
	padding-bottom: 10px;
}



.edit_btn {
	background-color: transparent;
	border: none;
	font-size: 18px;
	color: LightBlue;
}

.edit_btn:hover {
	color: blue;
}



/**************************************/


/*/////////MOVIES/////////////////*/

.movie_img {
	height: 250px !important;
	width: 150px !important;
	border: 1px solid transparent;
	margin: 5px;
}

.movie_col {
	margin: 20px;
}




/**********************************/

.navbar-brand {
	font-weight: bolder;
	text-shadow: rgba(255, 255, 255, 1) -1px -2px 0.5em;
}

h2 {
	padding: 10px;
}

.navbar-nav .btn {
	background: rgba( 255, 255, 255, 0.9 ) !important;
	color: black !important;
}

.navbar-nav .btn:hover {
	background-color: black !important;
	color: white !important;
}

.btn_op {
	background: #f2f2f2;
	color: black;
}

.btn_op:hover {
	background: LightGray;
	color: black; 
}

.btn_add_movie {
	margin-left: 50px;
}
.row_1 {
	margin-top: 15px;
	background-image: url( ../img/iron_man_comic_art-wallpaper-1920x1200.jpg);
	background-attachment: fixed;
}

.top_slider {
	margin-bottom: 50px;
}


.nav-item {
	margin: 0px 10px 10px 0px !important;
}

.carousel-item {
	width: 100% !important;
	height: 700px !important;
}

.jumbolist {
	padding: 5px;
	border-bottom: .4px solid LightGray;
	background-image: url( '../img/shut_up_and_love_minions-wallpaper-1920x1200.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}


ul.other_movies_list {
	list-style-image: url('../img/cinema_icon.png');
	list-style-position: inside;


}

.other_movies_list li a {
	color: DarkGray;
}

.other_movies_list a:hover {
	color: black;
	text-decoration: none;
	font-weight: bolder;
}

.top_slider, .jumbotron-fluid, .most_downloaded {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.most_downloaded {
	margin: 40px 0px 20px 0px;
}

.banner {
	background-image: url( '../img/dawn_of_the_planet_of_the_apes_caesar-wallpaper-2880x1620.jpg' );
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	padding-bottom: 80px;
	padding-top: 50px;

}

.section {
	position: relative;
}

.bg_overlay {
	background: rgba( 0, 0, 0, 0.6 );
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}


.movie_section {
	margin: 70px 0px 30px 0px;
	/*background-image: url( ../img/private_penguins_of_madagascar-wallpaper-1920x1200.jpg);
	background-size: ;
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;
	padding: 40px;
	width: ;
	height: ;*/


} 

.uploaded_img  {
	background-color: LightGray;
	height: auto;


}


/*LOGIN FORM */

.form-group {
	margin-bottom: 25px;
}


.jumbotron {
	background-color: transparent;
	margin-bottom: 50px;
	
}

.btn_cancel {
	margin-left: 190px;
}

.forgot_pass {
	margin-left: 100px;
}




/* CREATE ACCOUNT FORM */
input .btn:hover {
	background-color: white !important;
	color: black;
}




/* ADD MOVIES */
.add_movie_row {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 270px;
}


footer {
	background-color: black;
	color: #404040;
	padding: 15px;
	text-align: center;
	margin: 50px 0px 0px 0px;

}

/* MEDIA QUERIES */
@media only screen and ( min-width:1500px ) {

	.carousel-item {
		width: 100%;
		height: 1200px !important;

	}

	.carousel-item img {
		width: 100%;
		height: auto !important;

	}

	.create_acc_form, .login_form {
		margin-right: 100px;
		padding-right: 100px;
	}


}


@media only screen and ( max-width: 1024px ) {
	.row_1 {
		background-image: url( ../img/iron_man_comic_art-wallpaper-1920x1200.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

}

@media only screen and ( max-width: 1390px ) {
	.search_box:hover > .search_txt {
		width: 200px;
	}

}

@media only screen and ( max-width: 1308px ) {
	.search_box:hover > .search_txt {
		width: 150px;
	}

}

@media only screen and ( max-width: 1212px ) {
	.search_box:hover > .search_txt {
		width: 105px;
	}

}

@media only screen and ( max-width: 575px ) {
	.search_txt {
		width: 230px;
		padding-left: 5px;
	}
	.search_box:hover > .search_txt {
		width: 260px;
	}


	.profile_pic{
		width: 100px;
		height: 100px;
		border-radius: 50px;

		border: 1px solid #f2f2f2;
		background-color: LightGray;

	}

	.profile_img {
		width: 100px;
		height: 100px;
		border-radius: 50px;	
	}


	.row_ {
		background-position: 0px 45px;

	}

	.edit_profile_btn {
		position: relative;
		left: 80px;
	}

	.btn_cancel {
		margin-left: 90px;
	}

	.btn_edit_later {
		margin-left: 10px !important;

	}

	.movie_img {
		height: 100px;
		width: 70px;
		
	}

	.btn_add_movie {
		margin-left: 10px;
	}


}


@media only screen and ( max-width: 770px ) {
	.profile_img {
		width: 110px;
		height:110px;
		border-radius: 55px;	
	}


	.profile_pic{
		width: 110px;
		height: 110px;
		border-radius: 55px;
		/*border: 1px solid ;
		background-color: LightGray;
		margin-right: 50px !important;*/

	}



}